<!-- Listing Items -->
<div class="container">
    <!-- filters -->
    <section class="filters">
        <!-- search box -->
        <div class="search-box">
            <input (input)='onSearchHandler(searchInput)' #searchInput class="search-box__input" placeholder="Search..." type="text" name="txt_search" id="">
            <button type="submit" class="search-box__btn">
                    <i class="fas fa-search"></i>
                </button>
        </div>
        <!-- filter list -->
        <div>
            <!-- filter header -->
            <h5>Categories</h5>
            <!-- filter list -->
            <ul class="list list--vr-separator">
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Arts & Crafts</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Automotive</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Baby</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Books</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Eletronics</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Women's Fashion</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Men's Fashion</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Health & Household</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Home & Kitchen</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Military Accessories</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Movies & Television</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Sports & Outdoors</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Tools & Home Improvement</li>
                <li class="link list__item"><i class="link__icon fas fa-angle-right"></i>Toys & Games</li>
            </ul>
        </div>
        <!-- filter tags -->
        <div>
            <!-- filter header -->
            <h5>Tags</h5>
            <!-- filter tags -->
            <div class="tags">
                <div col-md=4>
                    <span class="tag">Nike</span>
                    <span class="tag">Travel</span>
                    <span class="tag">Sport</span>
                    <span class="tag">Tv</span>
                </div>
                <div col-md=4>
                    <span class="tag">Books</span>
                    <span class="tag">Tech</span>
                    <span class="tag">Addidas</span>
                    <span class="tag">Promo</span>
                </div>
                <div col-md=4>
                    <span class="tag">Social</span>
                    <span class="tag">New</span>
                    <span class="tag">Special</span>
                    <span class="tag">Food</span>

                </div>
                <div col-md=4>
                    <span class="tag">Used</span>
                    <span class="tag">Reading</span>
                </div>

            </div>
        </div>
        <!-- related items -->
        <div>
            <!-- title -->
            <h5></h5>
            <!-- small item -->
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>
    <!-- Items -->
    <section class="item-listing">
        <!-- tools (sorting , change view , exporting) -->
        <div class="item-listing__tools">
            <select class="form-control" name="selection" id="" (change)="sort($event)">
                    <option value="">Featured</option>
                    <option value="Low">Price low to high</option>
                    <option value="High">Price high to low</option>
                    <option value="Name">Name</option>
                </select>
            <a class="action-btn " [routerLink]="[ 'add'] ">
                <i class="fas fa-plus "></i>
            </a>
        </div>
        <!-- items -->
        <div class="item-listing__items item-listing--3items ">
            <!-- medium item -->
            <app-product-items *ngFor='let prod of getPageSlice()' [product]='prod' class="item-medium-1 ">
            </app-product-items>

        </div>
        <!-- paging -->
        <div class="paging ">
            <!-- left arrow -->
            <div class="paging__arrow ">
                <i class="fas fa-angle-left "></i>
            </div>
            <!-- page number -->
            <div *ngFor='let page of pageNumbers; let i=index' class="paging__number " [ngClass]="{ 'active' : i==currentPage} " (click)="currentPage=i ">{{page}}</div>
            <!-- right arrow -->
            <div class="paging__arrow ">
                <i class="fas fa-angle-right "></i>
            </div>
        </div>
    </section>
</div>